.temperatures-container {
    border: 1px solid;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgb(255, 255, 255);
}

.temperatures-variables {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.temperatures-title {
    color: darkblue;
}

.badge {
    font-size: x-large;
    font-weight: bold;
    margin: 0 0.5rem;
}
    