.components-container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    border: 1px solid;
    border-radius: 0.5rem;
    background-image: url('https://img.pikbest.com/wp/202343/crumpled-paper-textured-background-featuring-plain-white_9978738.jpg!sw800');
    background-size: cover;
  }

.h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
    background-color: rgb(255, 251, 251);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
.footer {
    margin-top: 20px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
  }
  
  
  .container {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: auto auto;
    gap: 0.5rem;
    width: 80%;
  }
  
  